.filterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    .filterInput {
        width: 300px;
        border: 1px solid rgb(239, 237, 237);
        border-radius: 3px;
        background-color: rgb(0, 0, 0);
        font-size: 12px;
        padding: 4px 8px;

        &:focus {
            color: black;
            background-color: white;
        }

        &:focus::placeholder {
            color: black;
        }

        &::placeholder {
            color: rgba(255, 255, 255, 0.471);
        }
    }
}


.movieContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 50px;
    margin-top: 30px;
    padding-bottom: 100px;

    .movies {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 15px;
        width: 100%;
        padding: 5px;

        &.py0 {
            padding: 0;
            gap: 0;
        }

        &.py5 {
            padding: 5px;
        }

        li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 250px;
            height: 300px;
            position: relative;
            cursor: pointer;
            z-index: 1;
            border-radius: 15px;
            overflow: hidden;
            

            &:hover {
                filter: brightness(85%);
        
                .movieOverview {
                    transform: translateY(0);
                }
            }

            .movieTitle {
                font-size: 14px;
                font-weight: 700;
                text-align: center;
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                height: 50px;
                background-color: rgba(46, 46, 46, 0.463);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .movieImage {
                width: 100%;
                height: 100%;
                z-index: -1;
                filter: brightness(70%);
                border-radius: 20px;
            }

            .movieLogos {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;

                .movieHdLogo {
                    width: 35px;
                    height: 35px;
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    filter: brightness(70%);
                }
                
                .movieTurkishLogo {
                    width: 35px;
                    height: 35px;
                    position: absolute;
                    bottom: 10px;
                    left: 50px;
                    filter: brightness(70%);
                }
    
                .movieUsLogo {
                    width: 35px;
                    height: 35px;
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    filter: brightness(70%);
                }
    
            }

            .movieOverview {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateY(100%);
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 11px;
                background-color: rgb(11, 11, 11);
                padding: 6px;
                transition: all ease-in-out 0.5s;
            }

        }
    }
}

.navContainer {
    width: 100%;
    height: 100px;
    padding: 0 50px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;

    .nav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navLeft {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;

            .navLeftLogoPart {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .logo {
                    width: 50px;
                    height: 50px;
                    border-radius: 5px;
                    filter: brightness(50%);
                }
                h1 {
                    font-size: 24px;
                    font-weight: 500;
                }
            }

            .categories {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                position: relative;
                top: 1px;

                &:hover {
                    color: rgba(255, 255, 255, 0.44);
                    transition: all ease-in-out 0.1s;
                }
                p {
                    font-size: 15px;
                }
                .arrow{
                    width: 10px;
                    height: 10px;
                    position: relative;
                    left: 2px;
                }
            }

    
        }
    }

    .navRight {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .navRightLink {
            width: 70px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            border-radius: 8px;
            border: 1px solid white;
            position: relative;
            overflow: hidden;
            z-index: 0;

            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 100%;
                left: 0;
                top: 0;
                background-color: rgb(249, 249, 249);
                z-index: -1;
                transition: all ease-in-out 0.4s;
            }
            &:hover {
                color: black;
            }
            &:hover::before {
                width: 100%;
            }
        }
    }
}

.sliderContainer {
    width: 100%;
    height: 500px;

        .slides {
            width: 100%;
            height: 500px;
            display: flex;
            position: relative;

            .playButton {
                width: 100px;
                height: 100px;
                position: absolute;
                top: 50%;
                left: calc(50% - 50px);
                cursor: pointer;
                
                &:hover {
                    filter: brightness(50%);
                }
            }

            .slidesLeft {
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
                padding-left: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 7px;

                h1 {
                    font-size: 24px;
                    font-weight: 700;
                }
                p{
                    font-size: 14px;
                    width: 35%;
                }
            }
            .movieImagee {
                width: 50%;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                z-index: -1;
            }
        }
    }

.footerContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    padding:100px 50px;
    justify-content: space-between;
    position: relative;


    .footerContainerLeft {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 5px;

        h1 {
            font-weight: 900;
            font-size: 23px;
        }
        ul {
            li {
                font-size: 14px;
            }
        }
    }

    .footerContainerRight {
        width: fit-content;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 5px;

        h1 {
            font-size: 23px;
            font-weight: 900;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            gap: 3px;

            li {
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 6px;

                img {
                    width: 19px;
                    height: 19px;
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
    .footerCopyRight {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        padding: 20px 50px;

        .copyRightLeft {
            display: flex;
            gap: 4px;
            font-size: 12px;
            font-weight: 800;
            align-items: center;

            img {
                width: 12px;
                height: 12px;
            }
        }

        .copyRightRight {
            ul {
                display: flex;
                gap: 5px;
                li {
                    img {
                        width: 22px;
                        height: 22px;
                        cursor: pointer;

                        &:hover {
                            filter: brightness(60%);
                        }
                    }
                }
            }
        }
    }
}
